@font-face {
  font-family: 'MoskMedium';
  src: url('../fonts/Mosk/MoskMedium/MoskMedium500.eot?#iefix') format('embedded-opentype'),  url('../fonts/Mosk/MoskMedium/MoskMedium500.woff') format('woff'), url('../fonts/Mosk/MoskMedium/MoskMedium500.ttf')  format('truetype'), url('../fonts/Mosk/MoskMedium/MoskMedium500.svg#MoskMedium500') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MoskBold';
  src: url('../fonts/Mosk/MoskBold/MoskBold700.eot?#iefix') format('embedded-opentype'),  url('../fonts/Mosk/MoskBold/MoskBold700.woff') format('woff'), url('../fonts/Mosk/MoskBold/MoskBold700.ttf')  format('truetype'), url('../fonts/Mosk/MoskBold/MoskBold700.svg#MoskBold700') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MoskExtraLight';
  src: url('../fonts/Mosk/MoskExtraLight/MoskExtra-Light200.eot?#iefix') format('embedded-opentype'),  url('../fonts/Mosk/MoskExtraLight/MoskExtra-Light200.woff') format('woff'), url('../fonts/Mosk/MoskExtraLight/MoskExtra-Light200.ttf')  format('truetype'), url('../fonts/Mosk/MoskExtraLight/MoskExtra-Light200.svg#MoskExtra-Light200') format('svg');
  font-weight: normal;
  font-style: normal;
}

$headingColor: #000;
$baseColor: #616a7f;
$backgroundColor: #ecf1f2;

$baseFont: 'MoskMedium';
$boldFont: 'MoskBold';
$LigtFont: 'MoskExtraLight';

$baseFontSize: 32px;
$contentHeadingsSize: 28px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3 {
  font-family: $boldFont;
  font-weight: normal;
  margin: 0;
  line-height: 1;
}
html, body {
  height: 100%;
}
body {
  font-family: $baseFont, sans-serif;
  color: $baseColor;
  &.thank-you-page {
    background: #f2f6f7;
  }
}
input {
  width: 100%;
  padding: 0 35px;
  border: 2px solid #f2f5f6;
  border-radius: 100px;
  font-family: $LigtFont;
  font-size: $baseFontSize;
  line-height: 66px;
  color: $baseColor;
}
.content-wrapper {
  max-width: 900px;
  margin: 0 auto;
}
section ul {
  padding-inline-start: 0;
  list-style: none;
}
.heading-box {
  padding: 75px 0 0 65px;
  margin-right: 10px;
  h2 {
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 700;
    font-family: $boldFont;
    color: $headingColor;
  }
  .subheading {
    font-size: 32px;
    font-family: $baseFont;
    margin-bottom: 90px;
  }
}
.content-headings-box {
  margin-bottom: 60px;
  font-size: $contentHeadingsSize;
  line-height: 1;
  text-align: center;

  .content-header {
    margin-bottom: 15px;
    line-height: 1;
    color: $baseColor;
  }
  .content-description {
    font-size: $contentHeadingsSize;
    font-family: $LigtFont;
    color: $headingColor;
  }
}
.tabs-container {
  > .left-side {
    width: 700px;
    min-height: 100vh;
    background: #f2f6f7;
  }
  display: flex;
  flex-direction: row;
  row-wrap: nowrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: stretch;
  box-sizing: border-box;
  * {
    box-sizing: inherit;
  }
  :focus {
    box-shadow: none;
    outline: none;
  }
  .button-list {
    flex: 0 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;
    border-left: none;
  }
  button {
    &.tablinks {
      position: relative;
      margin: 0;
      padding-left:65px;
      font-size: $baseFontSize;
      font-family: $baseFont;
      color: $baseColor;
      line-height: 100px;
      text-align: left;
      border-radius: 0;
      border: none;
      background: transparent;
      &:hover,
      &.active {
        color: $baseColor;
        background: $backgroundColor;
        &:before {
          position: absolute;
          display: block;
          content: '';
          left: 0;
          top: 0;
          height: 100%;
          width: 10px;
          background: $baseColor;
        } 
      }
      &:hover {
        cursor: pointer;
      }
    }
  }
  section {
    flex: 2 1 auto;
    display: none;
    background: #fff;
    background: rgba(255, 255, 255, 0.6);
    padding: 85px 10px 10px; 
    &.active {
      display: block;
    }
  }
  img {
    display: block;
    margin: 0 auto;
    width: 100%;
    min-width: 180px;
    max-width: 600px;
  }
  .main-input {
    position: relative;
    margin-bottom: 40px;

    input {
      padding-right: 75px;
    }

    .add-domain {
      display: block;
      position: absolute;
      right: 24px;
      top: 50%;
      margin-top: -17px;
      width: 37px;
      height: 37px;
      background: url('../img/add-icon.png');
      &:hover {
        cursor: pointer;
      }
    }
  }
  .sites-list,
  .schemes-list {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    max-height: 400px;
    overflow-y: auto;
    li {
      display: block;
      position: relative;
      width: 100%;
      padding: 0 35px;
      margin-bottom: 12px;
      font-family: $baseFont;
      font-size: $baseFontSize;
      line-height: 70px;
      color: $baseColor;
      background-color: $backgroundColor;
      border-radius: 100px;
      span.delete-icon {
        position: absolute;
        right: 28px;
        top: 50%;
        width: 28px;
        height: 28px;
        background: url(../img/delete-icon.png) 0 0 no-repeat;
        transform: translateY(-50%);
        &:hover {
          background: url(../img/delete-icon.png) 0 -28px no-repeat;
          cursor: pointer;
        }
      }
    }
  }
  .property-list {
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    justify-content: space-between;
    li {
      position: relative;
      width: 280px;
      height: 79px;
      margin-bottom: 10px;
      padding: 3px 3px 3px 73px;
      overflow: hidden;
      line-height: 1;
      text-align: center;
      border: 2px solid #f2f5f6;
      border-radius: 100px;
      .color-preview {
        left: 3px;
        top: 3px;
        position: absolute;
        display: inline-block;
        width: 70px;
        height: 70px; 
        margin-left: -1px;
        border-radius: 100%;
        background: transparent;
      }
      .value-name,
      input {
        display: block;
        width: 100%;
        font-size: $baseFontSize;
      }
      .value-name {
        font-family: $LigtFont;        
        align-items: center;
      }
      input {
        font-family: $boldFont;
        line-height: 1;
        text-align: center;
        padding: 0 10px;
        border: none;
        outline: none;
        border-radius: 0;
      }
    }
  }
  .save-scheme {
    width: 350px;
    display: block;
    margin: 20px auto 30px;
    border-radius: 100px;
    background: $baseColor;
    color: #fff;
    text-transform: capitalize;
    font-family: $boldFont;
    font-size: $baseFontSize;
    line-height: 60px;
    border: 5px solid $baseColor;
    &:hover {
      color: $backgroundColor;
      cursor: pointer;
    }
  }
  .schemes-list {
    .list-item {
      .scheme-name {
        margin-right: 10px;
      }
      .activate-btn {
        font-family: $boldFont;
        color: $baseColor;
        &:hover {
          cursor: pointer;
        }
      }
      &.active {
        .activate-btn {
          display: none;
        }
        .scheme-name {
          font-family: $boldFont;
          color: $baseColor;
        }
      }
    }
  }
}

/* / @media all */

@media screen and (max-width: 1280px) {
  .tabs-container {
    .property-list {
      justify-content: space-around;
    }
  }
}

@media (max-width: 900px) {
  .tabs-container {
    flex-direction: column;
    .left-side {
      width: 100%;
      min-height: auto;
      padding: 30px 0;
    }
    .heading-box {
      padding-top: 0;
    }
    .button-list {
      min-width: 100%;
    }
    button.active,
    &:hover {
      &:after {
        width: 5px;
      }
    }
  }
}

.thank-you-section {
  text-align: center;
  color: $headingColor;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  .container {
    flex: 1 0 auto;
    max-width: 780px;
    min-width: 320px;
    margin: 0 auto;
    padding-top: 100px;
    width: 740px;
    border-radius: 5px;
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 90px 30px rgba(217,222,223,0.77);
    -moz-box-shadow: 0px 0px 90px 30px rgba(217,222,223,0.77);
    box-shadow: 0px 0px 90px 30px rgba(217,222,223,0.77);
  }
  h1 {
    display: flex;
    justify-content: center;
    font-family: $boldFont;
    font-size: 40px;
    line-height: 60px;
    margin-bottom: 75px;

    .logo {
      display: inline-block;
      margin-left: 20px;
      width: 60px;
    }
  }
  h2 {
    font-family: $LigtFont;
    font-size: $baseFontSize;
  }

  .option-preview {
    margin: 30px auto 0;
    width: 500px;
  }
  footer {
    flex: 0 0 auto;
    width: 740px;
    margin: 0 auto;
    min-height: 70px;
    background: #585858;
  }
}

@media (max-width: 900px) { 
  .thank-you-section {
    .container,
    footer {
      width: 100%;
    }
  }
}